{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        {% include 'includes/_messages.html' %}

        <!-- Button trigger modal For New Employee -->
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#generatePayroll">
            Generate Payroll
        </button>

        <!-- Modal For Payroll -->
        <div class="modal fade" id="generatePayroll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Generate Payroll</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/generate_payroll/{{ employee.id }}" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Overtime?</label>
                                <input type="number" class="form-control mb-2" name="overtime" id="overtime"
                                       value=0 placeholder="Overtime"
                                       required>
                                <label for="formGroupExampleInput">Any Loan Deductions?</label>
                                <input type="number" class="form-control mb-2" name="loan" id="loan"
                                       value=0 placeholder="Loan Deduction" required>
                                <label for="formGroupExampleInput">Salary Advance?</label>
                                <input type="number" class="form-control mb-2" name="salary_advance" id="salary_advance"
                                       value=0 placeholder=Advance" required>
                                <label for="formGroupExampleInput">Month</label>
                                <input type="text" class="form-control mb-2" name="month" id="month"
                                       placeholder="eg. Jan, 2019" required>
                                <input type="Submit" class="form-control btn btn-primary" id="submit">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <table class="table table-sm table-striped table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Month</th>
                <th scope="col">Overtime</th>
                <th scope="col">Loan Deductions</th>
                <th scope="col">Salary Advance</th>
                <th scope="col">Gross Salary</th>
                <th scope="col">NSSF</th>
                <th scope="col">Taxable Income</th>
                <th scope="col">PAYE</th>
                <th scope="col">Personal Relief</th>
                <th scope="col">Tax Net off Relief</th>
                <th scope="col">NHIF</th>
                <th scope="col">Net Salary</th>
                <th scope="col">Take Home Pay</th>
                <th scope="col">Action</th>
                <th scope="col">...</th>
            </tr>
            </thead>
            <tbody>
            {% for payslip in payslips %}
                <tr>
                    <th scope="row">{{ payslip.id }}</th>
                    <td>{{ payslip.full_name }}</td>
                    <td>{{ payslip.month }}</td>
                    <td>{{ payslip.overtime }}</td>
                    <td>{{ payslip.loan_deduction }}</td>
                    <td>{{ payslip.salary_advance }}</td>
                    <td>{{ payslip.gross_salary }}</td>
                    <td>{{ payslip.NSSF }}</td>
                    <td>{{ payslip.taxable_income }}</td>
                    <td>{{ payslip.PAYE }}</td>
                    <td>{{ payslip.personal_relief }}</td>
                    <td>{{ payslip.tax_net_off_relief }}</td>
                    <td>{{ payslip.NHIF }}</td>
                    <td>{{ payslip.net_salary }}</td>
                    <td>{{ payslip.take_home_pay }}</td>
                    <td>
                        <!-- Button trigger modal For Edit Employee -->
                        <button type="button" class="btn btn-primary mb-3" data-toggle="modal"
                                data-target="#editPayslip{{ payslip.id }}">
                            Edit
                        </button>

                        <!-- Modal For Edit Employee -->
                        <div class="modal fade" id="editPayslip{{ payslip.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit payslip for
                                            <i>{{ payslip.full_name }}</i></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/edit_payslip/{{ payslip.id }}" method="POST"
                                              enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Overtime?</label>
                                                <input type="number" class="form-control mb-2" name="overtime"
                                                       id="overtime"
                                                       value="{{ payslip.overtime }}" placeholder="Overtime"
                                                       required>
                                                <label for="formGroupExampleInput">Any Loan Deductions?</label>
                                                <input type="number" class="form-control mb-2" name="loan" id="loan"
                                                       value="{{ payslip.loan_deduction }}" placeholder="Loan Deduction" required>
                                                <label for="formGroupExampleInput">Salary Advance?</label>
                                                <input type="number" class="form-control mb-2" name="salary_advance"
                                                       id="salary_advance"
                                                       value="{{ payslip.salary_advance }}" placeholder=Advance" required>
                                                <label for="formGroupExampleInput">Month</label>
                                                <input type="text" class="form-control mb-2" name="month" id="month"
                                                      value="{{ payslip.month }}" placeholder="eg. Jan, 2019" required>
                                                <input type="Submit" class="form-control btn btn-primary" id="submit">
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </td>
                    <td>
                        <!-- Button trigger modal For Edit Employee -->
                        <button type="button" class="btn btn-danger mb-3" data-toggle="modal"
                                data-target="#deletePayslip{{ payslip.id }}">
                            Delete
                        </button>

                        <!-- Modal For Deleting Department -->
                        <div class="modal fade" id="deletePayslip{{ payslip.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Payslip</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card">
                                            <div class="card-body text-danger">
                                                <p class="card-text">Are you sure you want to delete this payslip?</p>
                                                <p class="card-text">Deleting this payslip will result in deleting
                                                    all employee data for the specified month</p>
                                            </div>
                                            <div class="card-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                        aria-label="Close">Close
                                                </button>
                                                <a class="btn btn-danger" href="/delete_payslip/{{ payslip.id }}">Delete</a>
                                                <!--/department/delete/ department.id }} -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}