{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        {% include 'includes/_messages.html' %}

        <!-- Button trigger modal For New Employee -->
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#generatePayroll">
            Generate Payroll
        </button>

        <!-- Modal For Payroll -->
        <div class="modal fade" id="generatePayroll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Generate Payroll</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/generate_payroll/{{ employee.id }}" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Overtime?</label>
                                <input type="number" class="form-control mb-2" name="overtime" id="overtime"
                                       value=0 placeholder="Overtime"
                                       required>
                                <label for="formGroupExampleInput">Any Loan Deductions?</label>
                                <input type="number" class="form-control mb-2" name="loan" id="loan"
                                       value=0 placeholder="Loan Deduction" required>
                                <label for="formGroupExampleInput">Salary Advance?</label>
                                <input type="number" class="form-control mb-2" name="salary_advance" id="salary_advance"
                                       value=0 placeholder=Advance" required>
                                <label for="formGroupExampleInput">Month</label>
                                <input type="text" class="form-control mb-2" name="month" id="month"
                                       placeholder="eg. Jan, 2019" required>
                                <input type="Submit" class="form-control btn btn-primary" id="submit">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>



    </div>
{% endblock %}